<div class="container">
  <div class="col-md-5 mx-auto">
    <h3>コメント編集ページ</h3>
    <%= form_with model: [@post, @post_comment], local: true do |f|%>
      <!--コメント入力フォーム-->
      <div class="form-group">
        <%= f.label :comment, 'コメント'%>
        <%= f.text_area :comment, class: 'form-control', size: '30x5' %>
      </div>
      <!--投稿ボタン-->
      <div>
        <%= f.submit '更新する', class: 'btn btn-outline-success' %>
      </div>
    <% end %>
  </div>
</div>