<div class="comment-edit container my-5">
  <div class="mee-post col-sm-10 col-lg-6 mx-auto  shadow p-5">
    <h3>コメント編集ページ</h3>
    <%= form_with model: [@post, @post_comment], local: true do |f|%>
      <!--コメント入力フォーム-->
      <div class="form-group">
        <%= f.label :comment, 'コメント'%>
        <%= f.text_area :comment, class: 'form-control', size: '30x5' %>
      </div>
      <!--投稿ボタン-->
      <div>
        <%= f.submit '更新する', class: 'btn btn-outline-success' %>
      </div>
    <% end %>
  </div>
</div>