<div class="container my-5 notifications">
  <div class="col-md-7 mx-auto">
    <h3 class="far fa-bell font-weight-bold">通知一覧ページ</h3>
    <%= paginate @notifications %>
    <table class="table table-bordered shadow">
      <tr>
        <thead class="thead-dark">
          <th></th>
        </thead>
      </tr>
      <tbody>
        <!--通知があるか、ないかで処理分岐-->
        <% if @notifications.exists? %>
          <%= render @notifications %>
        <% else %>
          <!--通知がない時表示-->
          <tr>
            <td>
              <p>通知はありません</p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>