<table class="table table-bordered">
  <tbody class="thead-dark">
    <tr>
      <th>ニックネーム</th>
      <td class="text-break text-monospace"><%= user.nickname %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <!--自己紹介が設定されていなかった場合で条件分岐-->
      <% if @user.introduction.blank? %>
        <td class="text-break text-monospace">自己紹介を設定しよう！！</td>
      <% else %>
        <td class="text-break text-monospace"><%= user.introduction %></td>
      <% end %>
    </tr>
    <tr>
      <th>登録日時</th>
      <td class="text-break text-monospace"><%= user.created_at.to_s(:datetime_jp) %></td>
    </tr>
    <tr>
      <th>更新日時</th>
      <td class="text-break text-monospace"><%= user.updated_at.to_s(:datetime_jp) %></td>
    </tr>
  </tbody>
</table>