/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.nav-lists {
  align-items: center;
}

.header-notification {
  position: relative;
}

// 通知があった時に出る円（右下に出る）のCSS
.n-circle {
  position: absolute;
  left: 70px;
  top: 18px;
  color: #ffa500;
}

// 新規登録ページ、ログインページなどの共通レイアウト
.mee-sign_up,
.mee-sign_in,
.mee-password-forget,
.mee-post,
.mee-user {
  border-left: 5px solid #007bbb;
}

// フッター部分(お問い合わせなどの部分)
.footer-item {
  display: flex;
  flex-direction: column;
}