// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.line-bc {
  padding: 20px 10px;
  max-width: 450px;
  font-size: 14px;
  background: #7da4cd;
}


.mycomment {
  margin: 10px 0;
  p {
    position: relative;
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 750px;
    border-radius: 12px;
    background: #30e852;
  }
}

.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  margin-right: -40px;
  width: 40px;
  img {
    width: 100%;
    height: auto;
  }
}

.says {
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
  &:after {
    content: "";
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.new-chat-message{
  padding-left: 0px;
}