// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ページ内の高さ
.relationships {
  height: 500px;
}

// レスポンシブデザイン
// タブレット横置き
@media screen and (max-width:1024px) {

}
// タブレット縦置き
@media screen and (max-width:768px) {
  .relationships {
    padding-top: 60px;
    height: 610px;
  }
}
// スマートフォンサイズ
@media screen and (max-width:425px) {
  .relationships {
    padding-top: 0px;
    height: 830px;
  }
}