// Place all the styles related to the searchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchs {
  .search-text {
    position: relative;
    top: 10rem;
    left: 5px;
  }
  .search-image1 {
    height: 700px;
    width: 500px;
    background-image: image-url('8463_color.png');
    background-size: cover;
  }
  .search-image2 {
    height: 670px;
    width: 450px;
    background-image: image-url('1643_color.png');
    background-size: cover;
  }
}

// レスポンシブデザイン
// タブレット
@media screen and (max-width:1024px) {
  .searchs {
    .search-text {
      font-size: 30px;
      position: relative;
      top: 12rem;
      left: 7px;
    }
    .search-image1 {
      height: 1100px;
      width: 600px;
    }
    .search-image2 {
      height: 670px;
      width: 450px;
    }
  }
}
// スマートフォンサイズ
@media screen and (max-width:425px) {
  .searchs {
    .search-text {
      font-size: 18px;
      position: relative;
      top: 6rem;
      left: 5px;
    }
    .search-image1 {
      height: 500px;
      width: 300px;
    }
    .search-image2 {
      height: 580px;
      width: 380px;
    }
  }
}