// Place all the styles related to the searchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchs {
  .search-text {
    position: relative;
    top: 10rem;
    left: 5px;
  }
  .search-image1 {
    height: 700px;
    width: 500px;
    background-image: url('8463_color.png');
    background-size: cover;
  }
  .search-image2 {
    height: 670px;
    width: 450px;
    background-image: url('1643_color.png');
    background-size: cover;
  }
}
