// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.withdrawal {
  height: 500px;
}

// レスポンシブデザイン
// タブレット
@media screen and (max-width:1024px) {

}
// タブレット縦置き
@media screen and (max-width:768px) {
  .login-page {
    height: 650px;
  }
}
// スマートフォンサイズ
@media screen and (max-width:425px) {
  .login-page {
    height: 450px;
  }
}