<% if model.errors.any? %>
  <h2><%= model.errors.count %>件のエラーが発生したため投稿できませんでした！</h2>
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>