<footer class="bg-light">
  <p class="text-center">© Mee. All rights reserved.</p>
  <div class="container">
    <p>
      <%= link_to '会社概要', root_path, class: 'text-decoration-none'%>
    </p>
    <p>
      <%= link_to '利用規約', root_path, class: 'text-decoration-none' %>
    </p>
    <p>
      <%= link_to 'お問い合わせ', root_path, class: 'text-decoration-none' %>
    </p>
  </div>
</footer>